# 前端目录
frontend/
frontend-vue/node_modules
frontend-vue/dist

# Go 构建文件
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE 配置
.idea/
.vscode/

# 数据文件
*.db
data/

# 其他
.git
.gitignore
README.md
*.log
