# Go 相关
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.db

# 编译输出
/dist
/build
/bin

# 前端相关
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# 编辑器目录
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 环境变量
.env
.env.*

# GoReleaser
/dist/
